# Misc
*.class
*.log
*.pyc
*.swp
.DS_Store
.idea/
.vscode/

# Flutter/Dart/Pub
.dart_tool/
.packages
.pub/
.pub-cache/
build/

# Android
android/.gradle/
android/local.properties
**/key.properties
**/*.jks

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/Flutter/App.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/

# Flutter generated
.flutter-plugins-dependencies

# iOS CocoaPods + Flutter ephemeral
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/

# Flutter build output
build/
.dart_tool/

# secrets
keys/*.json
*.key
*.pem
.env
