<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.twlvstix.findmyfourth">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application tools:node="merge">
        <!-- Keep profile noise low while preserving release behavior. -->
        <meta-data
            android:name="firebase_sessions_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_performance_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_performance_collection_deactivated"
            android:value="true" />
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />
    </application>
</manifest>
